.todoloading-container {
  height: 60px;
  margin-bottom: 24px;
  background-color: white;
  display: flex;
  align-items: center;
  position: relative;
  -webkit-box-shadow: -1px 5px 10px 5px rgba(0, 0, 0, 0.26);
  box-shadow: -1px 5px 10px 5px rgba(0, 0, 0, 0.26);
}

/* .item-text {
  font-weight: 500;
  font-size: 18px;
} */

.todoloading-container,
.todoloading-container .todoloading-complete,
.todoloading-container .todoloading-remove {
  background: linear-gradient(
    90deg,
    rgba(250, 250, 250, 1),
    rgb(200, 199, 199)
  );
  background-size: 400% 400%;
  animation: loadingAnimation 3s ease-in-out infinite;
}

@keyframes loadingAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.todoloading-container .todoloading-complete {
  width: 20px;
  height: 20px;
  margin: 0 15px;
  cursor: pointer;
  border-radius: 50%;
}

.todoloading-container .todoloading-remove {
  width: 20px;
  height: 20px;
  position: absolute;
  top: -10px;
  right: 10px;
  font-size: 24px;
  border-radius: 50%;
}
